/* nasi klienci section */
.clients {
    &__list {
       padding: vars.$padding-zero;
        margin: vars.$margin-zero;
        display: flex;
        justify-content: center;
        gap: 30px;   
        flex-wrap: wrap;
        margin: auto;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            max-width: 768px; 
        }
        @media screen and (min-width: 481px) and (max-width: 767px) {
            max-width: 480px
        }
      
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer; 
    }
    &__icon {
        --color1: vars.$color-icons;
        fill: vars.$color-icons;
        border: 1px solid vars.$color-icons;
        width: 170px;
        height: 92px;
        padding: 16px 32px;
        border-radius: 4px;

        @media screen and (max-width: 767px) {
            width: 210px;
        }
        @media screen and (min-width: 768px) and (max-width: 1200px) {
            width: 226px;
        }
        @media screen and (min-width: 1200px) {
            width: 170px; 
        }
       
        &:hover {
            fill: vars.$color-blue;
            border: 1px solid vars.$color-blue;  
        }
    }
    
}