/* front page headline-content */
.headline-content {
    background-color: vars.$color-dark-grey;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/webstudio-top-bg.jpg);
    background-size: cover;
    color: vars.$color-white;
    max-width: 100%;
    min-height: 600px;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

/* Override the path to the image 2x,
   if the screen density is at least 2 */
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .box {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/webstudio-top-bg@2x.jpg);
    }
}

// headline height for mobile versions 
    @media screen and (max-width: 768px) {
        min-height: 400px;
    }

    &__title {
        font-size: 44px;
        text-transform: uppercase;
        line-height: 1.4;
        margin-top: 0;
        letter-spacing: vars.$letter-spacing-large;
        margin-bottom: 30px;

// fonts headline for mobile versions
        @media screen and (max-width: 768px) {
            font-size: 26px;
            line-height: 1.6;         
        }
    }

    &__wrapper {
        max-width: 696px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

// max width of headline text for mobile version
        @media screen and (max-width: 768px) {
            max-width: 365px;
        }
    }
}