/* modal window */
.backdrop { 
    cursor: not-allowed;
    background-color: rgba(0 0 0 / .2);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;

    /* animation */
    transition-property: visibility opacity, transform;
    transition-duration: 1s;
    transform: scale(1);       
}


/* contact form on modal window */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    box-sizing: border-box;
    cursor: initial;
    width: 528px;
    min-height: 581px;
    background-color: vars.$color-white;
    color: vars.$color-text;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: .01em;
    text-align: left;
    /* shadow */
    box-shadow: 
        0px 1px 3px rgba(0 0 0 / .12), 
        0px 1px 1px rgba(0 0 0 / .14), 
        0px 2px 1px rgba(0 0 0 / .2);
        border-radius: 4px;
    /* animation */
    transition-property: visibility opacity, transform;
    transition-duration: 1s;
    transform: translateX(-50%) translateY(-50%) scale(1);
    
    &__title {
        font-size: 20px;
        font-weight: 700;
        color: vars.$color-text;
        line-height: 1.2;
        margin: vars.$margin-zero;
        text-align: center; 
        margin-bottom: 12px; 
    }
}

  /* button close */
  .bttn-close {
    position: absolute;
    top: 10px;
    right: 8px;
    border: 1px solid rgba(0 0 0 / .1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: vars.$color-white;
    font-size: 30px;
    font-weight: 400;
    /* adjustment x in button */
    display: flex;
    justify-content: center;
    align-items: center;
  }

   /* hide modal  */
.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0; 
    /* animation */
    transition-property: visibility opacity, transform;
    transition-duration: 1s;
    transform: scale(1);  
}