/* projects gallery */
.projects-gallery {
    
    &__row {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    &:nth-child(3) {
        margin-bottom: 94px; 
    }
}
&__title {
    margin-left: 24px;
    font-size: 18px;
    line-height: 2;
    font-weight: 700;
    letter-spacing: vars.$letter-spacing-large;
    margin-bottom: 0;
 }
&__paragraph {
   margin-left: 24px;
   color: vars.$color-middle-grey;
   letter-spacing: vars.$letter-spacing-medium;
   line-height: 1.9;
   margin-top: 4px;
}
&__item {
    border: 1px solid vars.$color-border;
    
    &:hover {
        box-shadow: 1px 4px 6px 0px rgba(0 0 0 / .16),
        0px 4px 4px 0px rgba(0 0 0 / .06),
        0px 1px 1px 0px rgba(0 0 0 / .12);
        .overlay {
            transform: translateY(0);
        }
    }
}
}

/* overlay */
.image-overlay {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33 150 243 / .9);;
    transform: translateY(100%);
    transition: transform .25s cubic-bezier(0.4, 0, 0.2, 1);

    &__paragraph {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.6;
        color: vars.$color-white;
        padding-top: 63px;
        padding-right: 24px;
        margin: vars.$margin-zero;
        margin-left: 24px;
    }
}