
     /* fonts */
     $font-family: "Roboto", sans-serif;
     $letter-spacing-small: .02em;
     $letter-spacing-medium: .03em;
     $letter-spacing-large: .06em;

    /* colors */
     $color-border: rgba(236 236 236 / 1);
     $color-text: rgba(33 33 33 / 1);
     $color-white: rgba(255 255 255 / 1);
     $color-blue: rgba(33 150 243 / 1);
     $color-light-grey: rgba(245 244 250 / 1);
     $color-middle-grey: rgba(117 117 117 / 1);
     $color-dark-grey: rgba(47 48 58 / 1);
     $color-icons: rgba(175 177 184 / 1);
     
     /* block models */
     $section-padding: 94px 0;

     /* section fonts  */
     $section-h2-font-size: 36px;
     $section-h2-line-heigh: 1.2;
     $section-h2-margin-top: 0;

     /* positioning margin/padding */
     $margin-zero: 0;
     $padding-zero: 0;